<%= form_for(@chirp) do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="field">
    <%= f.text_area :content, rows: '10', cols: '120', placeholder: 'Compose new message...' %>

  <%= f.submit 'Post', class: 'button button-primary tiny radius' %>
  </div>
<% end %>
