<%= render 'shared/navbar' %>
<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-centered medium-6 large-7 columns">
      <h1 class='hide-for-small-only'>Learn Trading Through Social Collaboration</h1>
      <h5 class='show-for-small-only'>Learn Trading Through Social Collaboration</h5>
    </div>
  </div>
</section>
<section>
  <h1 class='center hide-for-small-only'>What Our Community Offers:</h1>
  <h5 class="center show-for-small-only">What Our Community Offers:</h5>
</section>
<div class="container">
  <div class="blue">
    <div class="row" data-equalizer>
      <div class="small-12 medium-4 columns" data-equalizer-watch>
      <h6 class="bold">Learn methods to successfully trade tough markets.</h6>
      <ul>
        <li>Learn Setups</li>
        <li>Learn Entry Points</li>
        <li>Learn Exits.</li>
        <li>Learn Proven Market Anomolies</li>
        <%= image_tag('TC_Entry.png') %>
      </ul>
      </div>
      <div class="show-for-small-only">
        <hr>
      </div>
      <div class="small-12 medium-4 columns" data-equalizer-watch>
      <h6 class="bold">Learn how to read the market.</h6>
      <ul>
        <li>Learn Market Breadth</li>
        <li>Learn to Differentiate Bull/Bear/Chop Markets</li>
        <li>Learn to Listen to the Market's Clues</li>
        <li>Learn How Markets Actually Work</li>
        <%= image_tag('TC_2108.png') %>
      </ul>
      </div>
      <div class="show-for-small-only">
        <hr>
      </div>
      <div class="small-12 medium-4 columns" data-equalizer-watch>
      <h6 class="bold">Learn From Collaboration.</h6>
      <li>Share Your Ideas</li>
      <li>Share Techniques</li>
      <li>Learn Methods from Others</li>
      <li>Learn How To Study</li>
      <li>Learn About Process</li>
      <%= image_tag('collaborate.png') %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <section>
 <h1 class='center hide-for-small-only'>Learn More About Our Community</h1>
  <h5 class="center show-for-small-only">Learn More About Our Community</h5>
    <div class="small-4 small-offset-4 medium-4 medium-offset-5 columns">
      <span class="button button tiny button-alert">About Us</span>
    </div>
  </section>
</div>
<div class="container">
  <div class="gray">
    <div class="row">
      <div class="small-12 medium-12 columns">
        <h1 class='center hide-for-small-only'>What Our Members Are Saying</h1>
        <h5 class="center show-for-small-only">What Our Members Are Saying</h5>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Temporibus inventore est tempora et magni quae ex, ratione minima quidem
        quod excepturi, hic, at eveniet eligendi consectetur tempore iste
        distinctio perspiciatis.
      </div>
      <div class="show-for-small-only">
        <hr>
      </div>
      <div class="small-12 medium-4 columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Atque ad doloremque, modi. Quibusdam consequuntur, ad at amet
        corporis minima, ut expedita repellendus reiciendis rem fuga neque dicta.
        Magnam, nihil, nesciunt.
      </div>
      <div class="show-for-small-only">
        <hr>
      </div>
      <div class="small-12 medium-4 columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Possimus modi labore tenetur, ullam incidunt, dolorem sed nihil?
        Maiores nisi quo aut! Porro, voluptates, aliquid. Nihil eum obcaecati
        deserunt eveniet a.
      </div>
    </div>
  </div>
</div>
